.home-page-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
    min-width: 1500px;
    position: relative;
}

@media screen and (max-width: 1500px) {
    .home-page-header {
        flex-flow: column;
        align-items: center;
        justify-content: center;
        min-width: auto;
    }
}

.board-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--yellow-50);
}

.board-content .title {
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
