.card {
    margin: 0 auto;
    background-color: #f8fbfe;
    border-radius: 8px;
    z-index: 1;
    padding: 10px 30px 30px 30px;
}

.auth-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
}

.wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    left: -60px;
    margin: auto;
    width: 110%;
    height: 120%;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wrapper::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.wrapper p:not(.heading) {
    font-size: 14px;
}

.wrapper p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.wrapper:hover::after {
    filter: blur(30px);
}

.wrapper:hover::before {
    transform: rotate(-60deg) scaleX(1.34) scaleY(2.87);
    filter: blur(30px);
}

.wrapper .slider {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 5;
}

.auth-form .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 50px;
    padding: 0 20px;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-form .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 30px;
}

.user-form .form-grid > :nth-last-child(1):nth-child(odd),
.user-form .form-grid > :nth-last-child(1):nth-child(odd) ~ * {
    grid-column: span 2;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
}

.register-form {
    margin: 20px 0;
}

.user-form button[type="submit"] {
    padding: 0.5em 1.8em;
    border: 2px solid #17c3b2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: #17c3b2;
    border-radius: 20px;
    margin: 0 auto;
}

.user-form button[type="submit"]::before {
    content: "";
    width: 0;
    height: 550%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17c3b2;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

.user-form button[type="submit"]:hover::before {
    width: 185%;
}

.user-form button[type="submit"]:hover {
    color: #111;
}

.login-link,
.register-link,
.forgot-password {
    text-align: center;
    color: var(--teal-500);
    text-decoration: none;
    margin-top: 20px;
    font-size: 1rem;
}

.login-link button,
.register-link button {
    background-color: transparent;
    border: none;
    color: var(--teal-500);
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}

.forgot-password button {
    background-color: transparent;
    border: none;
    color: var(--red-300);
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}

/* Home page link */
.home-link {
    margin-top: 10px
}
.btn-shine {
    position: relative;
    margin: 0;
    padding: 10px 30px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-shine span {
    color: #164ca7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    z-index: 20;
}

.btn-shine:hover {
    animation: rotate624 0.7s ease-in-out both;
}

.btn-shine:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate624 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm1261 {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.btn-shine:after {
    background: #38ef7d;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
